autogen/client/*
autogen/node_modules

__open_alchemy*
openapi_server.egg-info
.idea
__pycache__

*.pyc
venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
